rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas para la colección de usuarios
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false; // No permitir eliminación de usuarios
    }
    
    // Reglas para la colección de transacciones
    match /transactions/{transactionId} {
      allow read: if request.auth != null && (
        resource.data.senderId == request.auth.uid ||
        resource.data.receiverId == request.auth.uid
      );
      allow create: if request.auth != null && 
        request.resource.data.senderId == request.auth.uid;
      allow update: if false; // No permitir actualización de transacciones
      allow delete: if false; // No permitir eliminación de transacciones
    }
  }
} 